---
const { title } = Astro.props;
import { ViewTransitions } from 'astro:transitions';


---

<html lang="en" class="bg-indigo-50 dark:bg-indigo-950 scroll-smooth focus:scroll-auto text-indigo-950 dark:text-indigo-50">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://use.typekit.net/lji4boh.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
		<ViewTransitions />
		<title>{title} | McGonigle Digital Studio</title>
	</head>
	<body>
		<slot />
	</body>
</html>
