---
const { title } = Astro.props;
import { ViewTransitions } from 'astro:transitions';
// import Header from '../components/header.astro';
---

<html lang="en" class="bg-indigo-50 dark:bg-indigo-950 scroll-smooth focus:scroll-auto dark:text-indigo-50">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<ViewTransitions />
		<title>{title} | McGonigle Digital Studio</title>
	</head>
	<body>
		<!-- <Header /> -->
		<slot />
	</body>
</html>
